@import"../base/variables.scss";

.footer
{
    display: flex;
    position:relative;
    background-color: $color-naranjafeelin;
    padding: 0rem 1rem 0.5rem 1rem;
    flex-direction: column;
    align-items: flex-end;
    p 
    {
        padding-top: 1rem;
    }
    div
    {
        display: flex;
        flex-direction: row;
        display: inline-block;
    }
}

.preguntasFrecuentes
{
    align-self: flex-start;
    text-decoration: none;
}   